.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  max-width: 180px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.content-card {
  padding: 0.5rem;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  margin-top: 0.2rem;
  border-radius: 8px;;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.8rem;
  line-height: 1.75rem;
}


/* *Responsividade - Mobile First */

@media (max-width: 400px) {

  .container {
    max-width: 25%;
  }

  .card {
    max-width: 160px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
  }

  .content-card {
    padding: 0.5rem;
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    margin-top: 0.2rem;
    border-radius: 8px;;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}